@keyframes slideInFromBelow {
  0% {
    transform: translateY(200%);
  }
  60% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0);
  }
}
.optin-hover-button {
  animation: 2.5s ease-out 0s 1 slideInFromBelow;
  position: fixed;
  transition: all 0.2s ease-in-out;
  z-index: 1999999;
  overflow: hidden;
  visibility: visible;
  opacity: 1;
  text-decoration: none;
  padding: 0;
}
.optin-hover-button:hover {
  transform: scale(1.1)
}
body.optin-modal-shown .optin-hover-button {
  visibility: hidden;
  opacity: 0;
}
